#linkit{
	ul
	{
		li {
			display: block;
			padding: 10px;
			a {
				text-decoration: none !important;
				outline: 0;
				width: 100%;
				display: inline-block;
			}
		}
		li:hover {
			border: 2px;
	        box-shadow: 5px 5px 5px grey;
	        -webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			font-size: 1.1em;
			color: black;
		}

	}
}