//colors
$mercury: #e5e5e5;
$color_tapa_approx: #777;
$black_80: rgba(0, 0, 0, 0.8);
$color_suva_gray_approx: #888888;
$color_apple_approx: rgba(53, 170, 36, 1);
$black_50: rgba(0,0,0,0.5);
$color_mortar_approx: #545;
$white: #fff;
$black: #000;
$color_mountain_mist_approx: #999999;
$color_sea_mist_90_approx: rgba(190, 233, 203, 0.9);
// $color_sea_mist_90_approx: rgba(242, 249, 244, 0.9);
$white_90: rgba(255,255,255,0.9);

//fonts
$font_0: Josefin Slab;
$font_1: Helvetica Neue;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;
$font_5: Roboto;
$font_6: Open Sans;
$font_7: Hammersmith One;

body {  
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: 14px;
  font-family: $font_5, $font_7, $font_6, $font_1, $font_2, $font_3, $font_4;
  // background: url('/images/bg-11-full.jpg') no-repeat center center fixed;
  background-color: #86A136;
  background: url('/images/bg2.jpg');
  background-size: cover;
  line-height: 2;
}
.header {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid $mercury;
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
.marketing {
  padding-left: 15px;
  padding-right: 15px;
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}
.footer {
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 19px;
  color: $color_tapa_approx;
  color: #000;
  // border-top: 2px solid $mercury;
  border-top: 1px solid #000;
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  .navbar {
    .container {
      max-width: 1170px;
    }
  }
}

.intro-text {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 1px;
}

.box:before{
  position: absolute;
  left: 25px;
  top: 25px;
  content: url('/images/leaf4.png');
  z-index: 999; // make pic to be on top of content 
}

.container-narrow > hr {
  margin: 30px 0;
}

strong {
  font-size: 1.1em;
}

ul li {
  font-size: 1em;
}

#header_pic {
  position: absolute;
  right: 0;
  top: 0;
}

#header_pic2 {
  position: absolute;
  left: 0;
  top: 0;
}

.box {
    box-shadow: 2px 2px 2px $color_suva_gray_approx;
    -webkit-box-shadow: 2px 2px 2px $color_suva_gray_approx;
    -moz-box-shadow: 2px 2px 2px $color_suva_gray_approx;

    font-family: $font_5, $font_6, $font_1, $font_2, $font_3, $font_4;
    
    -webkit-border-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-radius: 5px;
    border-bottom-right-radius: 5px;
    
    background-color: #fff;
    margin-bottom: 20px;
    padding: 30px 15px;
    position: relative;
}

p {
  font-size: 1em;
  line-height: 1.6;
  color: black;
}

// brand name in mobile mode
.navbar-default .navbar-brand {
    color: #45621e;
    text-shadow: 1px 1px grey;
}

@media screen and (min-width:1200px) {
  .box:after {
    content: '';
    display: table;
    clear: both;
  }
}


@media screen and (min-width:768px) {
  
  .top-divider {
    margin-top: 0;
  }
  .img-left {
    float: left;
    margin-right: 25px;
  }
  
  .navbar-header {
      display: none;
  }
  
  .nav>li>a {
    padding: 20px;
  }
  .navbar-nav>li>a {
    line-height: normal;
  }
  .navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
  }

  .marketing {
    padding-left: 0;
    padding-right: 0;
  }
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

hr {
  max-width: 400px;
  border-color: $color_mountain_mist_approx;
}
