//colors
$mercury: #e5e5e5;
$color_tapa_approx: #777;
$black_80: rgba(0, 0, 0, 0.8);
$color_suva_gray_approx: #888888;

//fonts
$font_0: Josefin Slab;
$font_1: Helvetica Neue;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;
$font_5: Roboto;
$font_6: Open Sans;
$font_7: Hammersmith One;

body {  
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 13px;
  font-family: $font_7, $font_6, $font_1, $font_2, $font_3, $font_4;
  // background: url('/images/bg-11-full.jpg') no-repeat center center fixed;
  background-color: #E4EBF5; 
  background-color: #598BB1;
  background-color: #80C8FE;
  background-color: #DFF1FE;
  background-size: cover;
}
.header {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid $mercury;
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
.marketing {
  padding-left: 15px;
  padding-right: 15px;
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}
.footer {
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 19px;
  color: $color_tapa_approx;
  color: #000;
  // border-top: 2px solid $mercury;
  border-top: 2px solid #000;
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  .navbar {
    .container {
      max-width: 1170px;
    }
  }
}


.jumbotron {
  text-align: center;
  border-bottom: 1px solid $mercury;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .jumbotron {
    border-bottom: 0;
  }
}
#brand_top {
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: 1px 1px 2px $black_80;
  font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
}
.box {
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 7px 7px 5px $color_suva_gray_approx;
  font-family: $font_5, $font_6, $font_1, $font_2, $font_3, $font_4;
  // background: url('../images/contemporary_china.png');
  // background: url('../images/nice_snow.png') repeat center center fixed;
   background-color: white !important;
    border: 2px solid;
    border-radius: 10px;

    background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#ddf1f9), color-stop(100%,#a0d8ef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* IE10+ */
    background: linear-gradient(to bottom, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
}
.container-narrow > hr {
  margin: 30px 0;
}

strong {
  font-size: 0.9em;
}

.brand_logo {

  // float: left;
  img {
    opacity: 0.8;
  }
}

ul li {
  font-size: 1em;
}

