$color_suva_gray_approx: #888888;
$active_menu_color: #BDDEB4;
$menu_text_color: #2C2D2B;

nav {
  font-size: 0.9em;
}

.navbar {
    padding-top: 5px !important; 
    margin-bottom: 60px !important;
}

#top_logo {
  position: relative;
  height: 180px;

  #logo_image {
    a {
      outline: 0;
    }    
    img {
      border-radius:20px / 260px;
      -webkit-border-radius: 20px / 260px;
      -moz-border-radius: 20px / 260px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-top: 10px;
      box-shadow: 2px 2px 2px grey;
      -webkit-box-shadow: 2px 2px 2px grey;
      -moz-box-shadow: 2px 2px 2px grey;
      // center image
      display: block;
      margin: 0 auto;
      
    }
  }  
}

@media (min-width: 768px) {
  .navbar {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;

    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
  }

  .navbar-default {
      border: none;
      background: white;
      box-shadow: 5px 5px 5px grey;
      -webkit-box-shadow: 5px 5px 5px grey;
      -moz-box-shadow: 5px 5px 5px grey;

  }
}

// menu text color
.navbar-default .navbar-nav > li > a {
    color: $menu_text_color;
}

// active menu color
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background-color: $active_menu_color;
    color: #000;

    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;

    outline: 0;
    font-weight: bold;
    box-shadow: 2px 2px 2px grey;
    -webkit-box-shadow: 2px 2px 2px grey;
    -moz-box-shadow: 2px 2px 2px grey;    
}
