#ruokalista {
	.today {
		border: solid;
		border-width: 5px;
	    border-color: #6fc44f;
		padding: 20px;
		margin-left: -20px;
		-webkit-border-radius: 20px;
	 	-moz-border-radius: 20px;
	 	border-radius: 20px;
	 	-webkit-box-shadow: #B3B3B3 10px 10px 10px;
	 	-moz-box-shadow: #B3B3B3 10px 10px 10px; 
	 	box-shadow: #B3B3B3 10px 10px 10px;
	}
	.box {
		padding-left: 40px;
	}

	.day {
		margin-bottom: 50px;
	}

	.day:last-child {
	    margin-bottom: 0px;
	}
	li {
		list-style: none;
	}
}