#ryhmat {
	.today{
	 /*box-shadow: 10px 10px 5px #888888;*/
	 border: solid;
	 border-width: 5px;
	 border-color: #6fc44f;
	 padding: 20px;
	 -webkit-border-radius: 20px;
	 -moz-border-radius: 20px;
	 border-radius: 20px;
	 -webkit-box-shadow: #B3B3B3 10px 10px 10px;
	 -moz-box-shadow: #B3B3B3 10px 10px 10px; 
	 box-shadow: #B3B3B3 10px 10px 10px;
	}

	ul li {
  		list-style: none;
  		font-size: 0.8em;
	}

	.day {
		margin-bottom: 15px; 
	}
}


