#yhteystiedot {
	li {
		display: block;
	}

	img#sisapihakartta {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#infobox {
		li {
			span {				
				font-size: 1.3em;
			}
		}
	}
}
#bussiyhteydet {
	ul{
		list-style-type: none;
		li {
			background: url(/images/bus.png) no-repeat left top;
			padding-left: 30px;
			padding-top: 3px;
		}
	}
}