<div id="palaute" class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">Lähetä meille
      <strong>postia</strong>
      </h2>
      <hr>
      <form role="form" method="post" action="/routes/palaute">
        <div class="form-group">
          <label for="name">Nimi</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="email">Sähköposti</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="feedback"></label>
          <textarea rows="20" class="form-control" id="feedback"></textarea>
        </div>
                
        <button type="submit" class="btn btn-default pull-right">Lähetä</button>
      </form>
    </div>
  </div>
</div>